{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-transform-runtime", { "regenerator": true }]],
  "env": {
    "development": {
      "presets": [["@emotion/babel-preset-css-prop", { "sourceMap": true, "autoLabel": true }]],
      "ignore": ["**/*.test.js"]
    },
    "production": {
      "presets": [["@emotion/babel-preset-css-prop"]],
      "ignore": ["**/*.test.js"]
    }
  }
}